<div class="scroll-component">
  <div class="w-full flex items-center justify-between mb-1">
    <p class="text-white">Providers</p>
    <div class="flex items-center gap-2">
      <div
        *ngIf="showNavigation"
        routerLink="/games/providers"
        class="bg-[#24272A] redWhiteGradientBtn cursor-pointer px-3 py-1 rounded-[4px] flex items-center justify-center text-white"
      >
        <span>Show all</span>
      </div>

      <button
        *ngIf="showNavigation"
        [disabled]="isAtStart"
        (click)="scrollLeft()"
        [ngClass]="{
          'opacity-50': isAtStart,
          'cursor-pointer redWhiteGradientBtn': !isAtStart
        }"
        class="text-white bg-[#1e2128] rounded-[4px] w-8 h-8 flex items-center justify-center transition-all"
      >
        <i class="fa-solid fa-chevron-left"></i>
      </button>

      <button
        *ngIf="showNavigation"
        [disabled]="isAtEnd"
        (click)="scrollRight()"
        [ngClass]="{
          'opacity-50': isAtEnd,
          'cursor-pointer redWhiteGradientBtn': !isAtEnd
        }"
        class="text-white bg-[#1e2128] rounded-[4px] w-8 h-8 flex items-center justify-center transition-all"
      >
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
  </div>

  <div
    #scrollContainer
    class="w-full flex flex-nowrap items-center my-3 overflow-x-scroll gap-2 scroll-container"
  >
    <div
      *ngFor="let item of providers"
      routerLink="/games/providers/{{ item }}"
      class="bg-[#292E38] h-[40px] md:h-[56px] w-[120px] md:w-[150px] shrink-0 rounded-[4px] card-item flex items-center justify-center p-3"
    >
      <img
        class="h-[20px] md:h-[30px] grayscale-0 hover:grayscale-0 transition duration-300 cursor-pointer"
        src="https://banners-and-assets.s3.us-east-1.amazonaws.com/aggregated-providers/{{
          item
        }}.svg"
        [alt]="item"
      />
    </div>
  </div>
</div>
