<div
  class="w-screen h-screen flex flex-col items-center justify-center overflow-hidden"
>
  <img src="./assets/images/page-not-found.svg" class="object-contain" />
  <p class="text-sm font-semibold capitalize mt-4">Page Not Found</p>

  <p class="text-sm text-gray-500 mt-3 text-center">
    Oops! The page you are looking for doesn’t exists or has been moved
  </p>

  <small class="text-sm text-gray-500 mt-2 text-center"
    >You can go back to the previous page
    <a
      class="bitolo-secondary-color underline text-sm cursor-pointer font-medium"
      href="/dashboard"
    >
      previous page
    </a>
  </small>
</div>
