<div
  *ngIf="showForgotPasswordModal"
  class="fixed inset-0 z-50 flex items-center justify-center"
>
  <div
    class="modelOverlay"
    (click)="close()"
    (keydown.enter)="close()"
    tabindex="0"
    role="button"
    aria-label="Close modal"
  ></div>
  <div
    *ngIf="!isforgotPasswordSent"
    [ngClass]="{ 'animate-modal': !isforgotPasswordSent }"
    class="relative bg-[#0E1015] rounded-[6px] overflow-hidden w-full h-full md:h-auto max-w-3xl mx-4 z-10"
  >
    <div class="w-full grid md:grid-cols-2">
      <div class="rightGradient text-white hidden md:flex flex-col gap-5 p-5">
        <div>
          <img
            class="h-[25px]"
            src="/assets/images/logos/lotto60White.svg"
            alt="logo"
          />
        </div>

        <div class="flex flex-col gap-2">
          <h2 class="text-2xl font-averta-semibold">Welcome to Lotto60</h2>
          <div class="text-sm flex flex-col gap-1">
            <p class="">Signup to win with Lotto60</p>
            <p>Get up to 300% bonus</p>
          </div>
        </div>
      </div>

      <div class="text-white p-5">
        <!-- Forgot Password Section -->
        <div>
          <div class="flex flex-col gap-7">
            <div class="flex md:hidden justify-between items-center">
              <div>
                <img
                  class="h-[25px]"
                  src="/assets/images/logos/lotto60.svg"
                  alt="logo"
                />
              </div>
              <div
                class="cursor-pointer group border-2 flex items-center justify-center border-[#2B2E36] px-2 py-1 rounded-md bg-[#2B2E3666]"
                (click)="close()"
              >
                <i
                  class="fas fa-times text-xl text-[#FFFFFF99] group-hover:text-white"
                ></i>
              </div>
            </div>

            <div class="flex justify-between items-center">
              <h2 class="text-xl font-averta-semibold">Reset Password</h2>
              <div
                class="cursor-pointer group border-2 hidden md:flex items-center justify-center border-[#2B2E36] px-2 py-1 rounded-md bg-[#2B2E3666]"
                (click)="close()"
              >
                <i
                  class="fas fa-times text-xl text-[#FFFFFF99] group-hover:text-white"
                ></i>
              </div>
            </div>
          </div>

          <div class="my-5">
            <p class="text-sm text-[#FFFFFFCC] mb-5">
              To reset your password, enter the e-mail address you registered
              with
            </p>

            <form (ngSubmit)="forgotPassword()" class="flex flex-col gap-5">
              <app-text-input
                label="Email ID"
                placeholder="Email"
                [isError]="emailError !== ''"
                [errorMessage]="emailError"
                [type]="'email'"
                [(ngModel)]="email"
                name="email"
              ></app-text-input>

              <button
                class="w-full bg-[#CE0000] text-center py-[10px] cursor-pointer rounded-[4px]"
                type="submit"
              >
                Send
              </button>

              <!-- <div>
                <p
                  (click)="backToLogin()"
                  class="text-sm text-[#FFFFFFCC] hover:text-white cursor-pointer"
                >
                  Back to Login
                </p>
              </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="isforgotPasswordSent"
    [ngClass]="{ 'animate-modal': isforgotPasswordSent }"
    class="relative text-white bg-[#0E1015] rounded-[6px] overflow-hidden p-5 w-full h-full md:h-auto max-w-lg mx-4 z-10"
  >
    <div class="flex flex-col gap-7">
      <div class="flex md:hidden justify-between items-center">
        <div>
          <img
            class="h-[25px]"
            src="/assets/images/logos/lotto60.svg"
            alt="logo"
          />
        </div>
        <div
          class="cursor-pointer group border-2 flex items-center justify-center border-[#2B2E36] px-2 py-1 rounded-md bg-[#2B2E3666]"
          (click)="close()"
        >
          <i
            class="fas fa-times text-xl text-[#FFFFFF99] group-hover:text-white"
          ></i>
        </div>
      </div>

      <div class="flex justify-between md:justify-end items-center">
        <!-- <h2 class="text-xl font-averta-semibold">Login</h2> -->
        <div
          class="cursor-pointer group border-2 hidden md:flex items-center justify-center border-[#2B2E36] px-2 py-1 rounded-md bg-[#2B2E3666]"
          (click)="close()"
        >
          <i
            class="fas fa-times text-xl text-[#FFFFFF99] group-hover:text-white"
          ></i>
        </div>
      </div>
    </div>

    <!-- <div class="flex justify-end items-center">
      <div
        class="cursor-pointer group border-2 border-[#2B2E36] px-2 py-1 rounded-md bg-[#2B2E3666]"
        (click)="close()"
      >
        <i
          class="fas fa-times text-xl text-[#FFFFFF99] group-hover:text-white"
        ></i>
      </div>
    </div> -->

    <div class="my-5 flex flex-col gap-3">
      <div class="w-full flex items-start justify-start">
        <img
          src="/assets/images/common/email.svg"
          alt="logo"
          class="h-[40px]"
        />
      </div>

      <h2 class="text-xl font-averta-semibold">Reset Password Link Sent</h2>

      <div class="text-sm text-[#FFFFFFCC] mb-5">
        <p>We sent the link to {{ email }}.</p>
        <p>Check your inbox for details</p>
      </div>

      <div class="flex flex-col gap-5">
        <div
          class="bg-[#CE0000] text-center py-[10px] cursor-pointer rounded-[4px]"
          (click)="backToLogin()"
          (keydown.enter)="backToLogin()"
          (keydown.space)="backToLogin(); $event.preventDefault()"
          tabindex="0"
          role="button"
          aria-label="Back to Login"
        >
          <p>Back to Login</p>
        </div>

        <div>
          <p class="text-sm text-[#FFFFFF99]">
            Haven't received an e-mail?
            <span
              class="text-white cursor-pointer underline"
              (click)="sendVerificationEmail()"
              (keydown.enter)="sendVerificationEmail()"
              tabindex="0"
              role="button"
              aria-label="Resend Verification Link"
              >Resend e-mail</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
