<div class="w-full h-screen bg-[#0E1015] flex items-center justify-center">
  <!-- <div class="fixe inset-0 bg-[#00000066]" (click)="close()"></div> -->

  <div
    *ngIf="!isPasswordReseted"
    class="relative text-white bg-[#191C23] rounded-[6px] overflow-hidden p-5 w-full h-full md:h-auto max-w-4xl mx-4"
  >
    <div class="flex justify-between items-center">
      <img class="h-[35px]" src="/assets/images/logos/lotto60.svg" alt="logo" />
      <div>
        <a
          class="cursor-pointer group border-2 flex items-center justify-center border-[#2B2E36] px-2 py-1 rounded-md bg-[#2B2E3666]"
          routerLink="/"
          tabindex="0"
          role="button"
          aria-label="Close modal"
        >
          <i
            class="fas fa-times text-xl text-[#FFFFFF99] group-hover:text-white"
          ></i>
        </a>
      </div>
    </div>
    <div class="w-full grid md:grid-cols-2">
      <div class="mt-5 flex flex-col gap-3">
        <div class="w-full flex items-start justify-start">
          <img
            src="/assets/images/common/lock.svg"
            alt="logo"
            class="h-[40px]"
          />
        </div>

        <h2 class="text-xl font-averta-semibold">Reset Password</h2>

        <div class="text-sm text-[#FFFFFF99]">
          <p>To reset your password, enter the e-mail address</p>
          <p>you registered with</p>
        </div>
      </div>
      <form (ngSubmit)="reset()" class="my-3 flex flex-col gap-5">
        <app-password-input
          label="Password"
          placeholder="Password"
          [(ngModel)]="password"
          name="password"
          [isError]="passwordError !== ''"
          [errorMessage]="passwordError"
        >
        </app-password-input>

        <app-password-input
          label="Confirm Password"
          placeholder="Confirm Password"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          [isError]="confirmPasswordError !== ''"
          [errorMessage]="confirmPasswordError"
        >
        </app-password-input>

        <button
          class="bg-[#CE0000] text-center py-[10px] cursor-pointer rounded-[4px]"
          type="submit"
        >
          Change
        </button>
      </form>
    </div>
  </div>

  <div
    *ngIf="isPasswordReseted"
    class="relative text-white bg-[#191C23] rounded-[6px] overflow-hidden p-5 w-full h-full md:h-auto max-w-lg mx-4"
  >
    <div class="flex justify-between items-center">
      <img class="h-[35px]" src="/assets/images/logos/lotto60.svg" alt="logo" />
      <div>
        <a
          class="cursor-pointer group border-2 border-[#2B2E36] px-2 py-1 rounded-md bg-[#2B2E3666]"
          routerLink="/"
          tabindex="0"
          role="button"
          aria-label="Close modal"
        >
          <i
            class="fas fa-times text-xl text-[#FFFFFF99] group-hover:text-white"
          ></i>
        </a>
      </div>
    </div>

    <div class="mt-5 flex flex-col gap-3">
      <div class="w-full flex items-start justify-start">
        <img
          src="/assets/images/common/lockGreen.svg"
          alt="logo"
          class="h-[40px]"
        />
      </div>

      <h2 class="text-xl font-averta-semibold">
        Password changed successfully
      </h2>

      <div class="text-sm text-[#FFFFFF99]">
        <p>
          Please log in with your updated password to access your Lotto60
          account.
        </p>
      </div>

      <div class="w-full flex items-center justify-center">
        <a
          class="w-full bg-[#CE0000] text-center py-[10px] cursor-pointer rounded-[4px]"
          routerLink="/"
          type="submit"
          >Back to Home</a
        >
      </div>
    </div>
  </div>
</div>
